<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<script>
    new WOW().init();
    $(document).ready(function() {
        $( "span.menu" ).click(function() {
            $( "ul.res" ).slideToggle( 300, function() {
                // Animation complete.
            });
        });
        $('.flexslider').flexslider({
            animation: "slide",
            start: function(slider){
                $('body').removeClass('loading');
            }
        });
    });
</script>

<div class="about">
	<div class="container">
		<div class="about-main">
			 	<h1>About</h1>
			 	<span class="lft-bar-about"> </span>
			 	<span class="rit-bar-about"> </span>
           <div class="col-md-6 about-left wow bounceInLeft" data-wow-delay="0.3s">
           	   <img src="photos/aboutus.gif" alt="" class="img-responsive">
           </div>
           		<div class="col-md-6 about-right wow bounceInRight" data-wow-delay="0.3s">
           	 		<h4> what we are capable of</h4>
           	 		<p>Since the incorporation of our organization, we have built a sophisticated infrastructure at our accommodation to have systematic business related activities. The infrastructure is equipped with advanced production machines and latest technologies that support us to manufacture the products in high quantities. These machines are maintained time to time by our professionals to have their smooth functioning. Apart from these, we have divided the entire unit into various departments</p>
             	<div class="about-list">
	             	<div class="ab-list-left">
		               <ul>
		               	<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span>Bio Medical Accessories</li>
		               	<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span>Hospital Machine</li>
		               	<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span>Therapy Machine</li>
		               	<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span>Hospital Furniture</li>
		               </ul>
					</div>
					<div class="ab-list-right">
		               <ul>
		               	<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span>Medical Device</li>
		               	<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span>Surgical Equipment</li>
		               	<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span>Hospital Wheelchair </li>
		               	<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span>nature of sales</li>
		               </ul>
		          </div>
		        <div class="clearfix"> </div>
              </div>
           </div>
          <div class="clearfix"> </div>
		</div>
	</div>
</div>
	<div class="about-middle">
		<div class="container">
		      <div class="testimo">
				 	   <h3>Testimonial</h3>
				 	   <span class="lft-bar-testi"> </span>
				 	   <span class="rit-bar-testi"> </span>
			  </div>
			<section class="slider">
		 	<div class="flexslider">
				<ul class="slides">
			  		<li>
						<div class="banner-bottom">
						<div class="about-midd-main">
							<h4>Bio Medical Accessories</h4>
							<p> Which is used in hospitals for surgery and operation</p>
						</div>
			 			</div>
			  		</li>
			  <li>
			 	<div class="banner-bottom">				 	
					<div class="about-midd-main">
							<h4>Hospital Wheelchair</h4>
							<p> Which is used to carry the patient for operation theatres</p>
					</div>
			 	</div>
			  </li>
			  	<li>
			 	<div class="banner-bottom">			 	
						<div class="about-midd-main">
							<h4>Surgical Equipment</h4>
							<p>Which is used for the checking the blood level in the body</p>
						</div>
			 	</div>
			  	</li>
		    </ul>
		 </div>
		 <div class="clearfix"> </div>
	  </section>
	</div>
</div>


<!-- FlexSlider -->

			<!-- FlexSlider -->

<div class="team">
	<div class="container">
		<div class="team-main">
			<div class="team-head">
				<h2>our products</h2>
				<span class="lft-bar-memb"> </span>
				<span class="rit-bar-memb"> </span>
			</div>
			<div class="col-md-4 team-grid wow bounceIn" data-wow-delay="0.4s">
				<img src="photos/team1.jpg" alt="" class="img-responsive">
				<div class="team-bottom">
					<p></p>
					<a href=""  class="hvr-bounce-out">More Info</a>
				</div>
				  <!--<div class="info-top">
				  	<h4>Rackham </h4>
				  	<p>Excepteur sint occaecat</p>
				  </div>-->
			</div>
			<div class="col-md-4 team-grid wow bounceIn" data-wow-delay="0.4s">
				<img src="photos/team5.jpg" alt="" class="img-responsive">
				<div class="team-bottom">
					<p></p>
					<a href=""  class="hvr-bounce-out">More Info</a>
				</div>
				<br/>

				<!--<div class="info-top">
				  	<h4>Andey</h4>
				  	<p>Excepteur sint occaecat</p>
				  </div>-->
			</div>
			<div class="col-md-4 team-grid wow bounceIn" data-wow-delay="0.4s">
				<img src="photos/team2.jpg" alt="" class="img-responsive" >
				<div class="team-bottom">
					<p></p>
					<a href=""  class="hvr-bounce-out">More Info</a>
				</div>
				  <!--<div class="info-top">
				  	<h4>Clara </h4>
				  	<p>Excepteur sint occaecat</p>
				  </div>-->
			</div>
		   <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--about end here-->
<!--footer start here-->
