<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!--contact -->
<script>
    new WOW().init();
    $(document).ready(function() {
        $( "span.menu" ).click(function() {
            $( "ul.res" ).slideToggle( 300, function() {
                // Animation complete.
            });
        });

    });
</script>

<div  class="contact">
	<div class="container">
		 <div class="contact-main">	 
		   <div class="contact-top">
		   	<h1>Contact</h1>
		   	<span class="lft-bar-contact"> </span>
		   	<span class="rit-bar-contact"> </span>
		   </div>
		   <div class="contact-bottom">
			 <div class="col-md-6 contact-left wow bounceInLeft" data-wow-delay="0.3s">
                  <!--contact-form-->
				<form>
					<p class="your-para">Your Name :</p>
					<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
					<p class="your-para">Your Mail :</p>
					<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
					<p class="your-para">Your Message :</p>
					<textarea cols="77" rows="6" onfocus="this.value='';" onblur="if (this.value == '') {this.value = '';}"></textarea>
                        <ul class="actions">
							<li><input type="submit" class="style1" value="Send" /></li>							
						</ul>			
				   </form>
		        </div>
				 <div class="col-md-6 contact-info wow bounceInRight" data-wow-delay="0.3s">
				       <h2>The infrastructure about us:</h2>
					   <p>The infrastructure is equipped with advanced production machines and latest technologies that support us to manufacture the products in high quantities. These machines are maintained time to time by our professionals to have their smooth functioning</p>
						<div class="con-text">
								<h3><i class="icon glyphicon glyphicon-home"></i> Address</h3>
								<address>
									  <p>Shan Surgical & Co.No. 42, 5th Cross</p>
									  <p>Magadi Road </p>
									  <p>Post Office Road</p>
									  <p>Bengaluru-560023, Karnataka, India</p>
									  <p>Ph : 8904255662</p>
									</address>
						</div>					
						  <div class="clearfix"> </div>
					</div>
					   <div class="clearfix"> </div>
		  </div>  
	  </div>
   </div>
</div>
<!--//contact-->
<!--footer start here-->
