<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!--header end here-->
<!--hotel start here-->
<script>
    new WOW().init();
    $(document).ready(function() {
        $( "span.menu" ).click(function() {
            $( "ul.res" ).slideToggle( 300, function() {
                // Animation complete.
            });
        });

    });
</script>
<div class="hotel">
	<div class="container">
		<div class="hotel-main">
             <div class="hotel-head">
             	<h1>your products</h1>
             	<span class="lft-bar-welcom"> </span>
             	<span class="rit-bar-welcom"> </span>
             </div>
             <div class="hotel-bottom">
             	<!-- experts -->
				<div class="experts wow bounceInRight" data-wow-delay="0.3s">
						<div class="col-md-3">
							<div class="btm-right">
								<img src="photos/ins1.jpg" alt=" " height="300px"/>
									<div class="captn">
										<h4>service</h4>
										<p>handheld thermometer</p>
									</div>
							</div>
						</div>
						<div class="col-md-3 bottom-grid">
							<div class="btm-right">
								<img src="photos/ins2.jpg" alt=" " height="300px" />
									<div class="captn">
										<h4>service</h4>
										<p>Forehead thermometer</p>
									</div>
							</div>
						</div>
						<div class="col-md-3 bottom-grid">
							<div class="btm-right">
								<img src="photos/ins3.jpg" alt=" " height="300px"/>
									<div class="captn">
										<h4>service</h4>
										<p>Omron</p>
									</div>
							</div>
						</div>
						<div class="col-md-3 bottom-grid">
							<div class="btm-right">
								<img src="photos/ins5.jpg" alt=" " height="300px"/>
									<div class="captn">
										<h4>service</h4>
										<p>BP checker</p>
									</div>
							</div>
						</div>
						<div class="clearfix"> </div>
				</div>
				<!-- //experts -->
             </div>
		</div>
	</div>
</div>
<!--services strat here-->
<!--<div class="services">
	<div class="container">
		<div class="services-main">			
			<div class="services-top">
				<h2>Our Vision</h2>
				<span class="lft-bar-serv"> </span>
             	<span class="rit-bar-serv"> </span>
			</div>
			<div class="services-bottom">
				<div class="col-md-4 services-grid wow bounceIn" data-wow-delay="0.4s">
					<img src="images/s1.png" alt="">
					<h4>Premium quality</h4>
					<p>The quality we are able to do it</p>
				</div>
				<div class="col-md-4 services-grid wow bounceIn" data-wow-delay="0.4s">
					<img src="images/s2.png" alt="">
					<h4>Timely service</h4>
					<p>Work depend upon our time and quality</p>
				</div>
				<div class="col-md-4 services-grid wow bounceIn" data-wow-delay="0.4s">
					<img src="images/s3.png" alt="">
					<h4>costly effective</h4>
					<p>The product we made are costly and productive</p>
				</div>
			  <div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>-->



<div class="features">
	<div class="container">
		<div class="features-main">
			<div class="features-top">
				<h3>services</h3>
				<span class="lft-bar-fea"> </span>
				<span class="rit-bar-fea"> </span>
			</div>
			<div class="features-bottom">
				<div class="col-md-6 features-left wow bounceInLeft" data-wow-delay="0.3s">
					<div class="feature-grids">
						<div class="fea-img">
							<img src="photos/ser.png" alt=""height="60px" width="60px">
						</div>
						<div class="fea-text">
							<h4>Manufacturing</h4>
							<p>manufacturing the surgical products and selling it out</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="feature-grids">
						<div class="fea-img">
							<img src="photos/ser3.png" alt=""height="50px" width="50px">
						</div>
						<div class="fea-text">
							<h4>Sales & Repairs</h4>
							<p>doing sales and repairs.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-6 features-right wow bounceInRight" data-wow-delay="0.3s">
					<div class="feature-grids">
						<div class="fea-img">
							<img src="photos/ser2.png" alt=""height="50px" width="50px">
						</div>
						<div class="fea-text">
							<h4>Administrative</h4>
							<p>taking the ownership and doing medical instrumental; projects</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="feature-grids">
						<div class="fea-img">
							<img src="images/fe4.png" alt="">
						</div>
						<div class="fea-text">
							<h4>R & D</h4>
							<p>doing resource and developement</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--services end here-->
<!--ser-advices start here-->
<div class="advices">
	<div class="container">
            <div class="advice-list-main">
            	<div class="advice-lidt-top">
					<h3>product list</h3>
					<span class="lft-bar-advice"> </span>
	             	<span class="rit-bar-advice"> </span>
             	</div>
             	<div class="advice-lidt-bottom wow bounceInLeft" data-wow-delay="0.3s">		
				<div class="col-md-4 advice-list">
					<ul>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">Premium quality</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">	Timely service</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">	Cost effective</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">Bio Medical Accessories</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">hospital machine</a></li>
					</ul>
				</div>
				<div class="col-md-4 advice-list">
					<ul>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">theraphy machine</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">hospital machine</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">hospital trolley</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">medical device</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">gauze swab</a></li>
					</ul>
				</div>
				<div class="col-md-4 advice-list">
					<ul>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span> <a href="#">surgical equipment</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span> <a href="#">hospital wheel chair</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">manufacturing</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">administration</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">sales department</a></li>
					</ul>
				</div>
			<div class="clearfix"> </div>
		   </div>		
		</div>
	</div>
</div>
<!--footer start here-->
